<html lang="en">
{% load staticfiles %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/invoice.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="{% static 'js/jautocalc/dist/jautocalc.js' %}"></script>

    <script type="text/javascript">
        function printpage() {
          //Get the print button and put it into a variable
          var printButton = document.getElementById("print-button");
          //Set the print button visibility to 'hidden'
          printButton.style.visibility = 'hidden';
          //Print the page content
          window.print()
          //Set the print button to 'visible' again
          //[Delete this line if you want it to stay hidden after printing]
          printButton.style.visibility = 'visible';
      }

      $(document).ready(function(){

      function autoCalcSetup() {
                    $('form[name=table]').jAutoCalc('destroy');
                    $('form[name=table].tr[name=line]').jAutoCalc({keyEventsFire: true, decimalPlaces: 2, emptyAsZero: true});
                    $('form[name=table]').jAutoCalc({decimalPlaces: 2});
                }


       $( ".add-row" ).click(function(e){
          e.preventDefault();
          var $tablerow = $( ".table-row" ).first().clone();
<!--          $tablerow.append( "<button type='button' class='btn remove-row btn-danger mx-2 h-30 my-4'>Remove</button>" );-->
          $tablerow.insertBefore( ".add-row" );
          $tablerow.jAutoCalc('destroy');
          autoCalcSetup();

       });

       $( ".myform" ).on("click", ".remove-row", function(e){
          e.preventDefault();
          $(this).closest("tr").remove();
          autoCalcSetup();
       });

       $( ".subtotal1" ).keyup(function(){
      var $this = $(this);
      var subtotal1 = $(this).val();
      var gst1 = (subtotal1 * 0.1);
      $this.closest( "tr" ).find('.gst1').val(gst1);
      var total1 = parseFloat(subtotal1) + parseFloat(gst1);
      $this.closest( "tr" ).find('.total1').val(total1);
   });

    });


      </script>
</head>

<body class="body">
    <div class="container a4 ">
    <div class="container">
        <img class="image" src="{% static 'images/header.png' %}" alt="" style="height: 200px;">

        <div class="h1">tax invoice</div>
    </div>
        <form method="post" action="#" class="myform">
            {% csrf_token %}
    <div class="row">
        <div class="column">
            <pre class="pre">
                <b>Date</b>   <input name="date" value="{{ invoice.date|date:'Y-m-d' }}" type="date">

                <b>To</b>      <textarea name="to" cols="30" rows="1">{{ invoice.quote.job.company.name }}</textarea>
                <b>ABN</b>   <textarea name="abn" cols="30" rows="1">{{ invoice.quote.job.company.builder_abn }}</textarea>
                <b>SITE</b>  <textarea name="site" cols="30" rows="1">{{ invoice.quote.job.site }}</textarea>
            </pre>
        </div>
        <div class="column">
            <pre class="pre">


            <b>FROM</b>      TICK SCAFFOLD PTY LTD
            <b>ABN</b>         72 630 733 756
            <b>ADDRESS</b> 28 Ainslie Rd Campbellfield Vic 3061

            </pre>
        </div>
    </div>

    <div class="centered">
        <table class="table" style="width:100%">
            <tr class="tableheader">
                <th class="th" style="width: 40%;">Description</th>
                <th class="th" style="width: 15%;">Qty</th>
                <th class="th" style="width: 15%;">Subtotal</th>
                <th class="th" style="width: 15%;">gst</th>
                <th class="th" style="width: 15%;">total</th>
            </tr>
            <tr name="line" class="table-row">
                <td class="tabledata" style="width: 40%;"><textarea name="description" id="" cols="50" rows="4">{{ invoice.description1 }}</textarea><br>
                </td>
                <td class="tabledata" style="width: 15%;"><textarea name="quantity" cols="20" rows="1">{{ invoice.quote.hire_period }} weeks</textarea></td>
                <td class="tabledata" style="width: 15%;">$<textarea class="subtotal1" name="subtotal1" cols="8" rows="1">{{ invoice.subtotal1 }}</textarea></td>
                <td class="tabledata" style="width: 15%;">$<textarea class="gst1" name="gst1" cols="6" rows="1">{{ invoice.gst1 }}</textarea></td>
                <td class="tabledata" style="width: 15%;">$<textarea class="total1" name="total1" cols="6" rows="1">{{ invoice.total1 }} </textarea></td>
                <td><button type='button' class='btn remove-row btn-danger mx-2 h-30 my-4'>Remove</button></td>
            </tr>

            {% if invoice.description2 %}
            <tr class="table-row">
                <td class="tabledata" style="width: 40%;"><textarea name="description" id="" cols="50" rows="4">{{ invoice.description2 }}</textarea><br>
                </td>
                <td class="tabledata" style="width: 15%;"><textarea name="quantity" cols="20" rows="1">{{ invoice.quantity2 }}</textarea></td>
                <td class="tabledata" style="width: 15%;">$<textarea class="subtotal1" name="subtotal1" cols="8" rows="1">{{ invoice.subtotal2 }}</textarea></td>
                <td class="tabledata" style="width: 15%;">$<textarea class="gst1" name="gst1" cols="6" rows="1">{{ invoice.gst2 }}</textarea></td>
                <td class="tabledata" style="width: 15%;">$<textarea class="total1" name="total1" cols="6" rows="1">{{ invoice.total3 }} </textarea></td>
                <td><button type='button' class='btn remove-row btn-danger mx-2 h-30 my-4'>Remove</button></td>
            </tr>
            {% endif %}

            {% if invoice.description3 %}
            <tr class="table-row">
                <td class="tabledata" style="width: 40%;"><textarea name="description" id="" cols="50" rows="4">{{ invoice.description3 }}</textarea><br>
                </td>
                <td class="tabledata" style="width: 15%;"><textarea  name="quantity" cols="20" rows="1">{{ invoice.quantity3 }}</textarea></td>
                <td class="tabledata" style="width: 15%;">$<textarea id="subtotal3" class="subtotal1" name="subtotal1" cols="8" rows="1">{{ invoice.subtotal3 }}</textarea></td>
                <td class="tabledata" style="width: 15%;">$<textarea class="gst1" name="gst1" cols="6" rows="1">{{ invoice.gst3 }}</textarea></td>
                <td class="tabledata" style="width: 15%;">$<textarea class="total1" name="total1" cols="6" rows="1">{{ invoice.total3 }} </textarea></td>
                <td><button type='button' class='btn remove-row btn-danger mx-2 h-30 my-4'>Remove</button></td>
            </tr>
            {% endif %}
        </table>

        <div style="margin-left : 60px;"><button type="button" class="btn btn-danger add-row" id="add-row" >Add</button></div>
    <div class="center">
        <p class="p"><b>SUBTOTAL $(<input type="text" class="subtotal" name="subtotal" jAutoCalc="SUM({subtotal1})" value="{{ invoice.subtotal }}">)</b></p>
        <img class="imgcenter" src="{% static 'images/center.png' %}" alt="" style="height: 40px;">
        <div class="row">
            <div class="colcenter">
                <div class="h2"><b>HOW TO PAY?</b></div>
            </div>
            <div class="colcenter">
                <div class="h3"><b> GST $(<input class="gst" type="text" name="gst" value="{{ invoice.gst }}">)</b></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">

            <pre class="pre">
                <b>Online deposit or transfer to</b>
                <b>ACC         Tick Scaffold PTY LTD
                BSB          013-230
                ACC No   313-257229</b>

            </pre>
        </div>
        <div class="col">
            <pre class="pre">
                <b>TOTAL      ($ <input class="total" type="text" name="total" value="{{ invoice.total }}">)</b>
            </pre>
        </div>
    </div>
    <footer>
        <img class="footer" src="{% static 'images/footer.png' %}" alt="">
    </footer>
         <div>
            <button id="create" type="submit">Done</button>
        </div>
            </form>
</div>
</body>
</html>