<html lang="en">
{% load staticfiles %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="http://localhost:8000/static/css/invoice.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <script type="text/javascript">
        function printpage() {
          //Get the print button and put it into a variable
          var printButton = document.getElementById("print-button");
          var create = document.getElementById("create");
          //Set the print button visibility to 'hidden'
          printButton.style.visibility = 'hidden';
          create.style.visibility = 'hidden';
          //Print the page content
          window.print()
          //Set the print button to 'visible' again
          //[Delete this line if you want it to stay hidden after printing]
          printButton.style.visibility = 'visible';
          create.style.visibility = 'visible';
      }
      $(document).ready(function(){
       $( ".add-row" ).click(function(){
          var $tablerow = $( ".table-row" ).first().clone();
          $tablerow.append( "<button type='button' class='btn remove-row btn-danger mx-2 h-30 my-4'>Remove</button>" );
          $tablerow.insertBefore( ".add-row" );
       });

       $( ".myform" ).on("click", ".remove-row", function(){
          $(this).parent().remove();
       });
    });
      </script>
</head>

<body class="body">
    <div class="container a4 ">
    <div class="container">
        <img class="image" src="http://localhost:8000/static/images/header.png" alt="" style="height: 200px; width: 100%;">

        <div class="h1">tax invoice</div>
    </div>
    <div class="row">
        <div class="column">
            <pre class="pre" style="transform: translate(-100px, 0px);">
                <b>Date</b>   {{ invoice.date|date:'Y/m/d' }}

                <b>To</b>      {{ invoice.to }}
                <b>ABN</b>   {{ invoice.abn }}
                <b>SITE</b>  {{ invoice.site }}
            </pre>
        </div>
        <div class="column">
            <pre class="pre" style="transform: translate(-100px,0px);">


            <b>FROM</b>      TICK SCAFFOLD PTY LTD
            <b>ABN</b>         72 630 733 756
            <b>ADDRESS</b> 28 Ainslie Rd Campbellfield Vic 3061

            </pre>
        </div>
    </div>

    <div class="centered" style="transform: translate( -30px, 0px);">
        <table class="table" style="width:100%">
            <tr class="tableheader">
                <th class="th" style="width: 40%; right: 73%;">Description</th>
                <th class="th" style="width: 15%;">Qty</th>
                <th class="th" style="width: 15%;">Subtotal</th>
                <th class="th" style="width: 15%;">gst</th>
                <th class="th" style="width: 15%;">total</th>
            </tr>
           {% if invoice.description1 %}
             <tr class="table-row">
                <td class="tabledata" style="width: 40%;">{{ invoice.description1 }}</td>
                <td class="tabledata" style="width: 15%;">{{ invoice.quantity1 }}</td>
                <td class="tabledata" style="width: 15%;">$ {{ invoice.subtotal1.normalize }}</td>
                <td class="tabledata" style="width: 15%;">$ {{ invoice.gst1.normalize }}</td>
                <td class="tabledata" style="width: 15%;">$ {{ invoice.total1.normalize }}</td>
            </tr>
            {% endif %}
            {% if invoice.description2 %}
            <tr class="table-row">
                <td class="tabledata">{{ invoice.description2 }}</td>
                <td class="tabledata">{{ invoice.quantity2 }}</td>
                <td class="tabledata">$ {{ invoice.subtotal2.normalize }}</td>
                <td class="tabledata">$ {{ invoice.gst2.normalize }}</td>
                <td class="tabledata">$ {{ invoice.total2.normalize }}</td>
            </tr>
            {% endif %}
            {% if invoice.description3 %}
            <tr class="table-row">
                <td class="tabledata">{{ invoice.description3 }}</td>
                <td class="tabledata">{{ invoice.quantity3 }}</td>
                <td class="tabledata">$ {{ invoice.subtotal3.normalize }}</td>
                <td class="tabledata">$ {{ invoice.gst3.normalize }}</td>
                <td class="tabledata">$ {{ invoice.total3.normalize }}</td>
            </tr>
            {% endif %}
        </table>
        </div>
    <footer style="position: fixed; bottom: 0; left: 0; width: 100%;">
        <div class="cen" >
    <div class="center">
        <p class="p" style="transform: translate(-2%,-10%);"><b>SUBTOTAL ($ {{ invoice.subtotal.normalize }})</b></p>
        <img class="imgcenter" style="transform: translate(-4%,-12%);" src="http://localhost:8000/static/images/center.png" alt="" style="height: 40px;">
        <div class="row">
            <div class="colcenter">
                <div class="h2" style="transform: translate(-10%,-30%); font-size: 19px"><b>HOW TO PAY?</b></div>
            </div>
            <div class="colcenter">
                <div class="h3" style="transform: translate(-65%,10%); font-size: 17px"><b>GST &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ($ {{ invoice.gst.normalize }})</div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">

            <pre class="pre">
                <b>Online deposit or transfer to</b>
                <b>ACC         Tick Scaffold PTY LTD
                BSB          013-230
                ACC No   313-257229</b>

            </pre>
        </div>
        <div class="col">
            <pre class="pre" style="transform: translate(-15%,-10%); font-size: 15px;">
                <b>TOTAL      ($ {{ invoice.total.normalize }})</b>
            </pre>
        </div>
    </div>
    </div>
        <img class="footer" src="http://localhost:8000/static/images/footer.png">
    </footer>
</body>
</html>
