{% extends 'main/base.html' %}

{% block container %}


   <main class="page-content">
      <div class="container-fluid">
        <div class="row headingtitle">
              <h3></h3>
            </div>
              <div class="addStaff-Form">
                <form method="post" action="#" enctype="multipart/form-data" >
                    {% csrf_token %}
<!--                    <div class="row form-group">-->
<!--                    <div class="col-md-8">-->
<!--                        <label for="name">Jobsite Address:</label>-->
<!--                        <input type="text" name="job_site" value="{{ company.job.site }}" id="" class="form-control" required>-->
<!--                    </div>-->
<!--                    </div>-->
                    <br>
                    <div class="row form-group">
                    <div class="col-md-3">
                        <label for="Name">Company Name</label>
                        <input type="text" name="company_name" value="{{ company.name }}" id="" class="form-control" required>
                    </div>
                    <div class="col-md-3">
                        <label for="">Builder Name</label>
                        <input type="text" name="builder_name" value="{{ company.builder_name }}" class="form-control" required>
                    </div>
                    <div class="col-md-3">
                        <label for="">Builder Abn</label>
                        <input type="text" name="builder_abn" value="{{ company.builder_abn }}" class="form-control" required>
                    </div>
                    </div>
                    <br>

                    <div class="row form-group">
                    <div class="col-md-8">
                        <label for="name">Sub Contractor:</label>
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col-md-3">
                        <label for="Name">Name</label>
                        <input type="text" name="sub_name" value="{{ company.sub_name }}" class="form-control" required>
                    </div>
                    <div class="col-md-2">
                        <label for="">Contact</label>
                        <input type="tel" name="sub_contact" value="{{ company.sub_contact }}" class="form-control" required>
                    </div>
<!--                    <div class="col-md-2">-->
<!--                        <label for="">Amount of Bays</label>-->
<!--                        <input type="text" name="amount_of_bays" value="{{ company.amount_of_bays }}" class="form-control" required>-->
<!--                    </div>-->
<!--                    <div class="col-md-2">-->
<!--                        <label for="">Job Type</label>-->
<!--                        <input type="text" name="job_type" value="{{ company.amount_of_bays }}" class="form-control" required>-->
<!--                    </div>-->
                 </div>
                    <br>
<!--                    <div class="row form-group">-->
<!--                    <div class="col-md-1">-->
<!--                        &lt;!&ndash; Button trigger modal &ndash;&gt;-->
<!--                    <button type="button submit" name="sbtn" value="gear_list" class="btn default" style="border-color: #C0BDBD;" data-toggle="modal" data-target="#exampleModal">-->
<!--                        Gear List:-->
<!--                    </button>-->
<!--                    </div>-->
<!--                    </div>-->

<!--                    <div class="row form-group">-->
<!--                    <div class="col-md-8">-->
<!--                        <div class="col-md-4">-->
<!--                        <label for="">Quote:</label><br>-->
<!--                        <a href=""><img src="/media/{{ company.quote }}" style="width:280px;height:180px;" alt=""></a><br>-->
<!--                        <br>-->
<!--                        </div>-->
<!--                        <input type="file" name="quote" class="form-control" accept="image/jpeg,image/gif,image/png,application/pdf,image/x-eps">-->
<!--                    </div>-->
<!--                </div>-->
<!--                    <div class="row form-group">-->
<!--                    <div class="col-md-8">-->
<!--                        <label for="">Date of Installation</label>-->
<!--                        <input type="date" name="job_date_of_installation" value="{{job.date_for_installation|date:'Y-m-d'}}" class="form-control">-->
<!--                    </div>-->
<!--                </div>-->
                <div class="row form-group">
                <div class="col-md-4">
                    <input type="submit" name="sbtn" value="submit" class="btn btn-primary submit form-control" id="submit_btn">
                </div>
            </div>
        </form>
                  <h4>List Of All Jobs For This Company</h4>
                  <br>
             <div class="scroller">
                  <table class="table table-striped" id="myTable">
                      <thead>
                            <th>Job Site</th>
                            <th>Job Date of Installation</th>
                            <th></th>
                      </thead>
                      <tbody>
                        {% for job in company.job_set.all %}
                      <tr>
                        <td>{{ job.site }}</td>
                        <td>{{ job.date_for_installation }}</td>
                        <td><a href="{% url 'main:job_detail' job.id %}"><button class="btn btn-primary view-edit-btn" ><i class="fas fa-eye"></i></button></a></td>
                      </tr>
                        {% endfor %}
                        </tbody>
                  </table>
             </div>
    </div>
</div>


<!--       &lt;!&ndash; Modal &ndash;&gt;-->
<!--       <form method="post" action="{% url 'main:add_jobs' %}">-->
<!--                    {% csrf_token %}-->
<!--                    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">-->
<!--                      <div class="modal-dialog" role="document">-->
<!--                        <div class="modal-content">-->

<!--                          <div class="modal-header">-->
<!--                            <h5 class="modal-title" id="exampleModalLabel">Gear List</h5>-->
<!--                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
<!--                              <span aria-hidden="true">&times;</span>-->
<!--                            </button>-->
<!--                          </div>-->
<!--                          <div class="modal-body">-->
<!--                    <div class="row form-group">-->
<!--                    <div class="col-md-3">-->
<!--                        <label for="">Product Description:</label>-->
<!--                    </div>-->

<!--                    <div class="col-md-3">-->
<!--                        <label for="">Weight:</label>-->
<!--                    </div>-->

<!--                     <div class="col-md-3">-->
<!--                        <label for="">Used Quantity:</label>-->
<!--                    </div>-->
<!--                    </div>-->
<!--                    <div class="row form-group clone">-->
<!--                    {% for order in orders %}-->
<!--                    <div class="row form-group clone">-->
<!--                    <div class="col-md-4">-->
<!--                        <input type="text" name="id" value="{{ order.gear.id }}" hidden>-->
<!--                        <input type="text" name="name" id="" class="form-control" value="{{ order.gear.name }}" readonly>-->
<!--                    </div>-->

<!--                    <div class="col-md-4">-->
<!--                        <input type="text" name="weight" id="" class="form-control" value="{{ order.gear.weight }}" readonly>-->
<!--                    </div>-->

<!--                     <div class="col-md-4 content">-->
<!--                        <input type="text" name="quantity" id=""  class="input1 form-control" hidden>-->
<!--                        <input type="text" name="used_quantity" class="form-control" value="{{ order.used_quantity }}" required>-->
<!--                    </div>-->
<!--                    </div>-->
<!--                     {% endfor %}-->
<!--                    </div>-->
<!--                          </div>-->
<!--                          <div class="modal-footer">-->
<!--                            <button type="button" form="form1" class="btn btn-secondary" data-dismiss="modal">Close</button>-->
<!--                          </div>-->
<!--                        </div>-->
<!--                      </div>-->
<!--                    </div>-->
<!--           </form>-->

</main>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
<script type="text/javascript">

</script>
{% endblock %}
