{% extends 'main/base.html' %}

{% block container %}
<main class="page-content">
  <div class="container-fluid">
    <div class="row headingtitle">
        <h3>Company Details</h3>
    </div>
    <div class="text-center">
        <div class="row add">
            <a href="{% url 'company:add_company' %}"> <button  class="btn btn-primary">Add Company</button> </a>
        </div>
<!--        <input type="text" placeholder="Filter" class='table-search-user' data-table-search="myTable" />-->
<!--        <select class="form-control searchid" id="dropdownList">-->
<!--            <option value="orderid">By Name</option>-->
<!--            <option value="phone">By Size</option>-->
<!--        </select>-->
    </div>
    <div class="scroller">
        <table class="table table-striped" id="myTable">
          <thead>
            <th></th>
            <th>Company Name</th>
            <th>Jobs</th>
          </thead>
          <tbody>
            <tr>
              <td></td>
              <td></td>
              <td id="">
              <table class="table table-striped" id="">
                  <tr>
                      <td>Site Address</td>
                      <td>Date Of Installation</td>
                      <td></td>
                  </tr>
              </table>
              </td>
            </tr>
          {% for company in company %}
            <tr>
              <td>
                  <a href="{% url 'company:edit_company' company.id %}"><button class="btn btn-primary view-edit-btn" ><i class="fas fa-edit"></i></button></a>
                  <a href="{% url 'company:delete_company' company.id %}"><button class="btn btn-primary deleteuser" onclick="return confirm('Are you sure you want to delete this gear ?');"><i class="far fa-trash-alt"></i></button></a>
              </td>
              <td id="">{{ company.name }}</td>
              <td id="">
                  <table class="table table-striped" id="myTable">
                {% for job in company.job_set.all %}
                      <tr>
                        <td>{{ job.site }}</td>
                        <td>{{ job.date_for_installation }}</td>
                        <td><a href="{% url 'main:job_detail' job.id %}"><button class="btn btn-primary view-edit-btn" ><i class="fas fa-eye"></i></button></a></td>
                      </tr>
                {% endfor %}
                  </table>
              </td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
    </div>
  </div>
</main>
{% endblock %}