.image{
    width: 100%;
    height: auto;
    max-width: 1500px;
    padding-right: 5px;
}

.container {
    position: relative;
  }

.h1{
    position: absolute;
    right: 40px;
    left: 500px;
    top: 90px;
    color: white;
    font-size: 35px;
    letter-spacing: 1px;
}

.column{
  width: 30%;
  float: left;
}

.row{
  display: table;
  width: 100%;
}

.pre{
    font-family: sans-serif;
    font-size: 15px;
    letter-spacing: 1px;
    line-height: 2;
}
.pro{
    padding-left: 50px;
    font-family: sans-serif;
    font-size: 15px;
    letter-spacing: 1px;
    line-height: 2;
}
.prt{
    padding-left: 560px;
    bottom: 300px;
     font-family: sans-serif;
    font-size: 15px;
    letter-spacing: 1px;
    line-height: 2;
}

.lefty{
  left: 0px;
}
.righty{
  right: 0px;
 }

.table{
    padding-top: 1px;
    padding-left: 60px;
    padding-right: 30px;
    border-collapse: collapse;
    transform: translate(35px, 0px);
    
}

.tableheader{
    height:40px;
    text-align: left;
    background-color:#f3856d;
    font-size: 18px;
    text-transform: uppercase;
    font-family: sans-serif;
    letter-spacing: 1px;
}

.tabledata{
    padding-bottom: 30px;
    padding-left: 5px;
    font-size: 15px;
    width: auto;
    font-family: sans-serif;
    letter-spacing: 1px;

}

.center{
    position: relative;
    padding-top: 260px;
}

.p{
    float: right;
    padding-right: 200px;
    word-spacing: 10px;
}

.imgcenter{
    width: 100%;
    height: auto;
    max-width: 855px;
    padding-left: 15px;
}

.colcenter {
    float: left;
    width: 50%;
}

.h2{
    position: absolute;
    top: 315px;
    right: 82%;
}

.h3{
    position: absolute;
    left: 59%;
    transform: translate(-80%, -20%);
    bottom: 8px;
}
@media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
    .col {
        width: 100%;
    }
  }

.footer{
    height: auto;
    width: 100%;
    max-width: 1400px;
}

.a4{
    width: 900px; 
    max-width: 900px;
    margin: auto;
}

.tabledata{
    padding-top: 15px;
}

.tofrom , td {
padding-bottom: 6px;
}

/* @page {
    size: A4;
  } */
