{% extends 'main/base.html' %}

{% block container %}


   <main class="page-content">
      <div class="container-fluid">
        <div class="row headingtitle">
              <h3>Add Gears</h3>
            </div>
              <div class="addStaff-Form">
                <form method="post" action="#" enctype="multipart/form-data" >
                    {% csrf_token %}
                    <div class="row form-group">
                    <div class="col-md-4">
                        <label for="name">Enter Gear Name:</label>
                        <input type="text" name="name" id="name" class="form-control" required>
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col-md-4">
                        <label for="avail_quantity">Quantity</label>
                        <input type="text" name="avail_quantity" id="avail_quantity" class="form-control" required>
                        <div id="error1"></div>
                    </div>

                 </div>
                <div class="row form-group">
                    <div class="col-md-4">
                        <label for="date">Date</label>
                        <input type="date" name="date" id="date" class="form-control" required>
                    </div>

                </div>
                <div class="row form-group">
                    <div class="col-md-4">
                        <label for="weight">Enter Weight</label>
                            <input type="text" name="weight" id="" class="form-control" required>
                        </select>
                    </div>
                </div>
                    <div class="row form-group">
                    <div class="col-md-4">
                        <label for="unit_price">Price per quantity</label>
                        <input type="unit_price" name="unit_price" id="unit_price" class="form-control" required>
                    </div>
                    </div>
                    <div class="row form-group">
                    <div class="col-md-4">
                        <label for="image">Enter Image</label>
                        <input type="file" name="image" id="image" class="form-control" accept="image">
                    </div>
                </div>
                <div class="row form-group">
                <div class="col-md-12">
                    <input type="submit" class="btn btn-primary submit form-control" id="submit_btn">
                </div>
            </div>
        </form>
    </div>
</div>
</main>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
<script type="text/javascript">
</script>
{% endblock %}