{% extends 'main/base.html' %}

{% block container %}


   <main class="page-content">
      <div class="container-fluid">
        <div class="row headingtitle">
              <h3>Gear List</h3>
            </div>
              <div class="addStaff-Form">
                <form method="post" action="#" class="myform" enctype="multipart/form-data" >
                    {% csrf_token %}
                    <div class="row form-group">
                        <h4 class="col px-md-0"></h4>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-7">
                        <h5></h5>
                            </div>
                    </div>
                    <div class="row form-group">
                    <div class="col-md-3">
                        <label for="">Product Description:</label>
                    </div>

                    <div class="col-md-3">
                        <label for="">Weight:</label>
                    </div>

                     <div class="col-md-3">
                        <label for="">Used Quantity:</label>
                    </div>
                    </div>
                    <div class="row form-group clone">
                    {% for gear in gears %}
                    <div class="row form-group clone">
                    <div class="col-md-4">
                        <input type="text" name="id" value="{{ gear.id }}" hidden>
                        <input type="text" name="name" id="" class="form-control" value="{{ gear.name }}" readonly>
                    </div>

                    <div class="col-md-4">
                        <input type="text" name="weight" id="" class="form-control" value="{{ gear.weight }}" readonly>
                    </div>

                     <div class="col-md-4 content">
                        <input type="text" name="quantity" value="0" id="" class="input1 form-control" required>
                        <input type="text" name="avail_quantity" class="avail" value="{{ gear.avail_quantity }}" hidden>
                    </div>
                    </div>
                     {% endfor %}
                    </div>

                 </div>
                </div>

                <div class="row form-group">
                <div class="col-md-4">
                    <button class="btn btn-warning" type="submit" >Submit</button>
            </div>
            </div>
        </form>
    </div>
</div>
</main>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
<script type="text/javascript">

    $(document).ready(function(){
   $( ".input1" ).keyup(function(){
      var used_quantity = $(this).val();
      console.log(used_quantity);
      var avail_quantity = $(this).closest("div.content").find("input[name='avail_quantity']").val();
      console.log(avail_quantity);
      if (used_quantity - avail_quantity >0) {
            alert(avail_quantity + " quantity only available in Warehouse ");
            $(this).closest( ".input1" ).val(avail_quantity);
        }
   });
});

</script>
{% endblock %}