{% load staticfiles %}

<!-- Jquery JS-->
<script src="{% static 'vendor/jquery-3.2.1.min.js' %}"></script>
<!-- Bootstrap JS-->
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap-datepicker.js' %}"></script>
<!-- Main JS-->
<script src="{% static 'js/main.js' %}"></script>

<script type="text/javascript" src="{% static 'js/selectize.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery-clockpicker.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/printThis.js' %}"></script>
<footer>
   <div class="container">
      <div class="row">
         <div class="col-md-12">
            <div class="copyright">
               <p>Copyright © 2019  All rights reserved. Designed by <a href="bhuwanjoshi.com.np">Bhuwan Joshi</a>.</p>
            </div>
         </div>
      </div>
   </div>
  
</footer>